:root {
    --background-color: #434a52;
    --background-color-dark: #2c3338;
    --background-color-input: #3b4148;
    --background-color-avatar: #037883;
    --background-color-input-label: #363b41;
    --background-color-message: #41484f;
    --background-color-active: #545d65;
    --primary-accent-color: #ea4c88;
    --primary-accent-color-dark: #d44179;
    --alert-bg-success: #2f9e44;
    --alert-bg-error: #d92943;
    --shadow-color-dark: rgba(30, 29, 29, 0.51)
}

body {
    background-color: var(--background-color-dark);
    color: white;
    font-size: 16px;
}

* {
    word-wrap: break-word;
    overflow: clip;
}

.App {
    text-align: center;
}

.logo {
    animation: logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
    font-size: calc(10px + 2vmin);
    color: white;
}

.link {
    color: #b318f0;
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
