/* config.css */

/* helpers/align.css */

:root {
    --background-color: #434a52;
    --background-color-dark: #2c3338;
    --background-color-input: #3b4148;
    --background-color-avatar: #037883;
    --background-color-input-label: #363b41;
    --background-color-message: #41484f;
    --background-color-active: #545d65;
    --primary-accent-color: #ea4c88;
    --primary-accent-color-dark: #d44179;
    --alert-bg-success: #2f9e44;
    --alert-bg-error: #d92943;
    --shadow-color-dark: rgba(30, 29, 29, 0.51)
}

* {
    word-wrap: break-word;
    overflow: clip;
}

.logo {
    max-height: 10rem;
    margin-bottom: 2em;
}

.align {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

/* helpers/grid.css */

.grid {
    margin-left: auto;
    margin-right: auto;
    max-width: 320px;
    max-width: 20rem;
    width: 90%;
}

/* helpers/hidden.css */

.hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/* helpers/icon.css */

.icons {
    display: none;
}

.icon {
    display: inline-block;
    fill: #606468;
    font-size: 16px;
    font-size: 1rem;
    height: 1em;
    vertical-align: middle;
    width: 1em;
}

/* layout/base.css */

* {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 100%;
    height: 100%;
}

body {
    background-color: var(--background-color-dark);
    color: #606468;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: 400;
    height: 100%;
    line-height: 1.5;
    margin: 0;
    min-height: 100vh;
}

/* modules/anchor.css */

a {
    outline: 0;
    text-decoration: none;
}

a:focus,
a:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* modules/chat.css */

.page.chat {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.page.chat .nav-bar {
    background-color: var(--background-color-input-label);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    box-shadow: 1px 0 24px 4px var(--shadow-color-dark);
    -webkit-box-shadow: 1px 0 24px 4px var(--shadow-color-dark);
    -moz-box-shadow: 1px 0 24px 4px var(--shadow-color-dark);
}

.page.chat .nav-bar .header {
    width: 60px;
    height: auto;
    padding: 10px 0 6px 0;
    margin: 0 10px;
    cursor: pointer;
    border-bottom: 2px solid #bbb;
}

.page.chat .nav-bar .links {
    overflow-y: scroll;
    flex: 1;
}

.page.chat .nav-bar .links::-webkit-scrollbar {
    width: 0;
}

.page.chat .nav-bar .footer {
    border-top: 2px solid #bbb;
    width: 60px;
    height: auto;
    padding: 10px 0 6px 0;
    margin: 0 10px;
    cursor: pointer;
}

#avatar {
    position: relative;
}

.footer.clicked .signout {
    display: block;
}

.footer .signout {
    display: none;
    position: absolute;
    bottom: 16px;
    left: 90px;
    padding: 10px;
    border-radius: 10%;
    color: white;
    min-width: 100px;
    background-color: var(--background-color-input-label);
    font-weight: bolder;
    overflow: auto;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 20;
}

.page.chat .nav-bar .links .groups {
    overflow: unset;
}

.page.chat .nav-bar .links .thumb {
    margin: 10px 15px 10px 15px;
    box-shadow: -6px 7px 0 -1px rgb(136, 54, 85);
    -webkit-box-shadow: -6px 7px 0 -1px rgb(136, 54, 85);
    -moz-box-shadow: -6px 7px 0 -1px rgb(136, 54, 85);
}

.page.chat .nav-bar #avatar.thumb {
    border-radius: 50%;
}

.page.chat .nav-bar .thumb.circle {
    border-radius: 50%;
    box-shadow: -1px 0 26px -1px rgba(14, 14, 14, 0.5) inset;
    -webkit-box-shadow: -1px 0 26px -1px rgba(14, 14, 14, 0.5) inset;
    -moz-box-shadow: -1px 0 26px -1px rgba(14, 14, 14, 0.5) inset;
    margin: 10px 15px 10px 15px;
    width: 50px;
    height: 50px;
    line-height: 2.75rem;
    background-color: var(--background-color-dark);
}

.page.chat .nav-bar #avatar.thumb {
    font-size: 1.2rem;
    line-height: 2.75rem;
    background-color: rgb(140, 91, 1);
}

.page.chat .nav-bar .thumb {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 30%;
    background-color: var(--background-color-avatar);
    padding: 4px;
    margin-left: 6px;
    margin-bottom: 6px;
    text-align: center;
    color: white;
    font-size: 1.5rem;
    line-height: 3rem;
    font-weight: bold;
    cursor: pointer;
    letter-spacing: 2px;
    text-indent: 2px;
    -webkit-user-select: none;
    user-select: none;
}

.page.chat .nav-bar .grp {
    width: 100%;
    padding: 1px 0 2px;
    overflow: unset;
}

.page.chat .nav-bar .grp.active {
    /*background-color: var(--background-color-active);*/
    box-shadow: 0 0 16px 0 rgba(14, 14, 14, 0.75) inset;
    -webkit-box-shadow: 0 0 16px 0 rgba(14, 14, 14, 0.75) inset;
    -moz-box-shadow: 0 0 16px 0 rgba(14, 14, 14, 0.75) inset;
}

.page.chat .nav-bar .separator {
    border-top: 2px solid #bbb;
    margin: 16px 10px;
}

.page.chat .chat-content {
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0 20px;
}

.page .chat-log-container {
    flex: 1;
    width: 100%;
    overflow-y: scroll;
    height: fit-content;
    flex-direction: column-reverse;
    justify-content: flex-start;
}

.page .chat-log-container::-webkit-scrollbar {
    width: 0.65em;
}

.page .chat-log-container::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0.65em rgba(0, 0, 0, 0.3);
}

.page .chat-log-container::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
    border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
}

.page .chat-log {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 20px;
    min-height: 100%;
    height: fit-content;
}

.chat-log .entry {
    width: fit-content;
    max-width: 50%;
}

.chat-log .entry.mine {
    align-self: end;
}

.chat-log .entry.other {
    align-self: start;
}

.chat-log .entry.other .author {
    font-weight: bold;
}

.chat-log .message-container {
    padding: 10px;
    margin: 10px;
    background-color: var(--background-color-message);
    color: white;
    border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;

    box-shadow: 1px 0 14px 0 var(--shadow-color-dark);
    -webkit-box-shadow: 1px 0 14px 0 var(--shadow-color-dark);
    -moz-box-shadow: 1px 0 14px 0 var(--shadow-color-dark);
}

.chat-log .message-container.mine {
    text-align: right;
}

.chat-log .message-container.other {
    text-align: left;
}

.message-bar {
    width: 100%;
}

form.chat {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 160px 0 120px;
}

.form__field.send-message {
    flex: 1;
    color: white;
}

.form__field #send-message-button {
    border-radius: 1.2rem;
}

form.chat .form__input,
form.chat label {
    padding: 0 0 0 10px;
}

/* modules/form.css */

input {
    background-image: none;
    border: 0;
    color: inherit;
    font: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

input[type='submit'] {
    cursor: pointer;
}

.form {
    margin: -14px;
    margin: -0.875rem;
}

.form input[type='password'],
.form input[type='text'],
.form input[type='submit'] {
    width: 100%;
}

.form__field {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 14px;
    margin: 0.875rem;
}

.form__input {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

/* modules/login.css */

.login {
    color: #eee;
}

label,
input[type='text'],
input[type='password'],
input[type='submit'] {
    border-radius: 0.25rem;
    padding: 16px;
    padding: 1rem;
}

label {
    background-color: #363b41;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    padding-left: 20px;
    padding-left: 1.25rem;
    padding-right: 20px;
    padding-right: 1.25rem;
}

input[type='password'],
input[type='text'] {
    background-color: var(--background-color-input);
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

input[type='password']:focus,
input[type='password']:hover,
input[type='text']:focus,
input[type='text']:hover {
    background-color: var(--background-color);
}

input[type='submit'] {
    background-color: var(--primary-accent-color);
    color: #eee;
    font-weight: 700;
    text-transform: uppercase;
}

input[type='submit']:focus,
input[type='submit']:hover {
    background-color: var(--primary-accent-color-dark);
}

/* modules/text.css */

p {
    margin-bottom: 24px;
    margin-bottom: 1.5rem;
    margin-top: 24px;
    margin-top: 1.5rem;
}

.text--center {
    text-align: center;
}

.hidden {
    display: none;
}

/* modules/alert.css*/

.alert {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: var(--alert-bg-success);
    padding: 12px 0 12px 0;
    max-height: 3rem;
}

.alert.error {
    background-color: var(--alert-bg-error);
}

.alert p.alert-text {
    margin: 0;
    color: #eee;
    font-weight: bolder;
}